<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Optymalizacja projekt</title>
    <style type="text/css">
        body {
            font-family: monospace;
            font-size: .8rem;
        }
        .offers-table {
            text-align: right;
        }
        .offers-table td, th {
            border: 1px solid #ddd;
            padding: .25rem .25rem .25rem 1rem;
        }
        .offers-table th {
            text-align: center;
        }
        .offers-table tr td:first-child {
            font-weight: bold;
        }
        .chosen-a {
            border-color: gold;
            background: gold;
            color: black;
            font-weight: bold;
        }
        .chosen-b {
            border-color: blue;
            background: blue;
            color: white;
            font-weight: bold;
        }
        .chosen-a.chosen-b {
            border-color: mediumseagreen;
            background: mediumseagreen;
            color: white;
        }
        .summary {
            list-style: none;
            margin: 1rem 0;
            padding: 0;
        }
        .summary-element {
            float: left;
            margin-right: 1rem;
            width: 180px;
        }
        .summary-element-color {
            float: left;
            height: 16px;
            margin-right: .2rem;
            width: 40px;
        }
        .summary-element-color-a {
            background: gold;
        }
        .summary-element-color-b {
            background: blue;
        }
        .summary-element-description {
            float: left;
        }
    </style>
</head>
<body>
    <table class="offers-table" cellspacing="0">
        <thead>
            <th></th>
            {% for storeId in payload.offerTable[0]|keys %}
                <th>s{{ storeId }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for productId in payload.offerTable|keys %}
                <tr>
                    <td>p{{ productId }}</td>
                    {% for storeId, cost in payload.offerTable[productId] %}
                        <td class="{{ worker1.getSolution().assignment[productId] == storeId ? 'chosen-a' : '' }} {{ worker2.getSolution().assignment[productId] == storeId ? 'chosen-b' : '' }}">
                            {{ cost|format_cost }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="summary">
        <li class="summary-element">
            <div class="summary-element-color summary-element-color-a"></div>
            <div class="summary-element-description">
                {{ worker1.getName() }} ({{ worker1.getTime()|format_time }}s)<br />
                {{ worker1.getTotalCost(payload)|format_cost }} total cost<br />
                {{ worker1.getProductCost(payload)|format_cost }} offers cost<br />
                {{ worker1.getDeliveryCost(payload)|format_cost }} delivery cost<br />
                {{ worker1.getStoreCount() }} deliveries<br />
            </div>
        </li>
        <li class="summary-element">
            <div class="summary-element-color summary-element-color-b"></div>
            <div class="summary-element-description">
                {{ worker2.getName() }} ({{ worker2.getTime()|format_time }}s)<br />
                {{ worker2.getTotalCost(payload)|format_cost }} total cost<br />
                {{ worker2.getProductCost(payload)|format_cost }} offers cost<br />
                {{ worker2.getDeliveryCost(payload)|format_cost }} delivery cost<br />
                {{ worker2.getStoreCount() }} deliveries<br />
            </div>
        </li>
    </ul>
</body>
</html>
